<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardine File Sharing</title>
</head>
<body>
    <form action="/" method="post">
        <h1>Please Login First</h1>
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="bruce.wayne" type="text" required value=<%= locals.username %>>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required/>
        <button type="submit">Log In</button>
        <div>Doesn't have an Account? Please sign-up <a href="/sign-up">here</a>.</div>
    </form>
</body>
</html>