<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardine File Sharing Home</title>
</head>
<body>
    <% if (locals.user) { %>
        <h1>Hello <%= user.firstName %>!</h1>
        <a href="/log-out"><button>LOG OUT</button></a>
        <!--Multer Test-->
        <form action="/profile" method="post" enctype="multipart/form-data">
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar" name="avatar" />
            <input type="submit" value="upload">
        </form>
    <% } %>
</body>
</html>