<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="upload">Upload Here</label>
        <input type="file" id="upload" name="upload" />
        <input type="submit" value="upload">
    </form>
</body>
</html>