/* https://colorhunt.co/palette/55587998a1bcded3c4f4ebd3 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: #98A1BC;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    background-color: #555879;
    padding: 10px 10vw;
    justify-content: space-between;
    align-items: center;
}

.header-right-container {
    display: flex;
    gap: 10px;
}

.logo-text > a {
    font-size: 40px;
    font-family: Caveat;
    text-decoration: none;
    color: inherit;
}

.dashboard-container {
    display: flex;
}

.main-dashboard-form {
    padding: 25px 25px;
}

aside {
    background-color: #555879;
    width: 150px;
}

main {
    padding: 50px 10vw;
}

.main-login-form, .sign-up-form, .upload-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: auto;
}

/* The alert message box */
.alert {
  padding: 10px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #DED3C4;
    align-items: center;
}