/* https://colorhunt.co/palette/55587998a1bcded3c4f4ebd3 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: #98A1BC;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

button {
    background-color: #F4EBD3;
    border: none;
    min-height: 30px;
    padding: 0 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #DED3C4;
    cursor: pointer;
}

header {
    display: flex;
    background-color: #555879;
    padding: 10px 10vw;
    justify-content: space-between;
    align-items: center;
}

.header-right-container {
    display: flex;
    gap: 10px;
}

.logo-text > a {
    font-size: 40px;
    font-family: Caveat;
    text-decoration: none;
    color: inherit;
}

.sign-up-password-info {
    color: rgb(61, 61, 61);
    font-size: small;
    line-height: 0.2;

}

.dashboard-main {
    padding: 10px 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dashboard-button-container {
    display: flex;
    gap: 20px;
}

.dashboard-storage-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;
    align-items: center;
}

.dashboard-file {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-back-button {
    grid-column: 1 / -1;
}

.dashboard-folder {
    grid-column: 1 / -2;
}

.dashboard-action-container {
    display: flex;
    gap: 15px;
}

.remove-link-decoration {
    text-decoration: none;
    color: black;
}

.dashboard-storage-created-at, .dashboard-storage-updated-at {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main {
    padding: 50px 10vw;
}

.main-login-form, .sign-up-form, .upload-form, .create-folder-form, .rename-folder-form, .rename-file-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: auto;
}

/* The alert message box */
.alert {
  padding: 10px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #DED3C4;
    align-items: center;
}